<template>
	<v-container class="pt-6">
		<v-row >
      <!-- Grupos asignados -->
			<v-col cols="12" sm="6"  md="6" lg="4" v-for="( alumno, i ) in getGrupos" :key="i">
			  <v-card class="mx-auto shadowCard" @click="verGrupo( alumno )">
			  	<v-card-text>
	  				<v-row>
	  					<v-col cols="4">
			          <avataaars width="100%"/>
	  					</v-col>

	  					<v-col cols="8">
	  						<div>
			            <h5 class="mb-0 font-weight-bold text-h6 textPrimary--text" >
			             	{{ alumno.nombres }}  {{ alumno.apellido_paterno  }} {{ alumno.apellido_materno }}
 			            </h5>

			            <p class="mb-0 font-weight-bold">
			              Edad {{ alumno.edad }}
			            </p>
                  <br/>
                  <v-chip small dark 
                    :class="`mr-1 red`">
                    Clic para ver
                  </v-chip>
			          </div>
	  					</v-col>
	  				</v-row>
	  			</v-card-text>
			  </v-card>
			</v-col>
    </v-row>

    <gruposAsistencia  v-if="dialogGrupos.estatus" :dialogGrupos="dialogGrupos" :alumno="alumno"/>

    <!-- Alertas -->
    <Alerta      v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader      v-if="cargar"          :loader="loader"/>

	</v-container>
</template>
<script>
	// Importar lebrerías
	import { mapGetters, mapActions } from 'vuex'
  const  base64 = require('base-64');

	// Componentes
  import Alerta     from '@/components/alertas/Alerta.vue'
  import Loader     from '@/components/alertas/Loader.vue'
  import Avataaars  from 'vuejs-avataaars'

  import gruposAsistencia from '@/components/grupos/gruposAsistencia'

  import SinGrupos           from '@/components/grupos/SinGrupos.vue'
  import GruoisListAlumnos   from '@/components/grupos/GruoisListAlumnos.vue'

  export default {
  	components:{
  		Alerta,
      Loader,
      SinGrupos,
      GruoisListAlumnos,
      Avataaars,
      gruposAsistencia
  	},

    data () {
      return {
        parametros:{
          dialogError: false,
          mensaje: '',
          color: ''
        },

	     	respuestaAlerta:false,
        loader: true,
        cargar: false,
        alumno: null,

        dialogGrupos:{
          estatus: false
        }
      }
    },

    computed:{
      ...mapGetters( 'login', [ 'getGrupo', 'getUsuarioLMS', 'getRecursosGrupoUsuario', 'getGrupos', 'getEscuela' ]),
    },


    methods:{
    	...mapActions( 'login', [ 'abrirGrupo', 'grabarGruposUsuario', 'salirLogin' ]),

      
    	verGrupo( alumno ){
        this.alumno = alumno
    		this.dialogGrupos.estatus = true
    	},

      validarError ( value ) {
        this.cargar = false 
        if( value.status == 400 || value.status == 500){
          this.parametros.mensaje      = value.body.message
          this.parametros.dialogError  = true 
          this.parametros.color        = '#FF2C2C'
          this.respuestaAlerta = true 
        }
      },
    }
  }
</script>
