<template>
	<div>
	  <!-- dashboard - shop icon -->
	  <svg
	    v-if="name === 'dashboard'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 45 40"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	    :class="icon_class"
	  >
	    <title>shop</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1716.000000, -439.000000)"
	        :fill="icon_color"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(0.000000, 148.000000)">
	            <path
	              class="color-background"
	              d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"
	              opacity="0.598981585"
	            ></path>
	            <path
	              class="color-background"
	              d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <svg
	    v-if="name === 'virtual-reality'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 45 40"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	    :class="icon_class"
	  >
	    <title>box-3d-50</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-2319.000000, -291.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(603.000000, 0.000000)">
	            <path
	              class="color-background"
	              d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z"
	            ></path>
	            <path
	              class="color-background opacity-6"
	              d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z"
	            ></path>
	            <path
	              class="color-background opacity-6"
	              d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <!-- pages- office icon -->
	  <svg
	    v-if="name === 'tables'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 42 42"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>office</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1869.000000, -293.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g id="office" transform="translate(153.000000, 2.000000)">
	            <path
	              class="color-background"
	              d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z"
	              opacity="0.6"
	            ></path>
	            <path
	              class="color-background"
	              d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <!-- applications - settings icon -->
	  <svg
	    v-if="name === 'rtl-page'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 40 40"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>settings</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-2020.000000, -442.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(304.000000, 151.000000)">
	            <polygon
	              class="color-background"
	              opacity="0.596981957"
	              points="18.0883333 15.7316667 11.1783333 8.82166667 13.3333333 6.66666667 6.66666667 0 0 6.66666667 6.66666667 13.3333333 8.82166667 11.1783333 15.315 17.6716667"
	            ></polygon>
	            <path
	              class="color-background"
	              d="M31.5666667,23.2333333 C31.0516667,23.2933333 30.53,23.3333333 30,23.3333333 C29.4916667,23.3333333 28.9866667,23.3033333 28.48,23.245 L22.4116667,30.7433333 L29.9416667,38.2733333 C32.2433333,40.575 35.9733333,40.575 38.275,38.2733333 L38.275,38.2733333 C40.5766667,35.9716667 40.5766667,32.2416667 38.275,29.94 L31.5666667,23.2333333 Z"
	              opacity="0.596981957"
	            ></path>
	            <path
	              class="color-background"
	              d="M33.785,11.285 L28.715,6.215 L34.0616667,0.868333333 C32.82,0.315 31.4483333,0 30,0 C24.4766667,0 20,4.47666667 20,10 C20,10.99 20.1483333,11.9433333 20.4166667,12.8466667 L2.435,27.3966667 C0.95,28.7083333 0.0633333333,30.595 0.00333333333,32.5733333 C-0.0583333333,34.5533333 0.71,36.4916667 2.11,37.89 C3.47,39.2516667 5.27833333,40 7.20166667,40 C9.26666667,40 11.2366667,39.1133333 12.6033333,37.565 L27.1533333,19.5833333 C28.0566667,19.8516667 29.01,20 30,20 C35.5233333,20 40,15.5233333 40,10 C40,8.55166667 39.685,7.18 39.1316667,5.93666667 L33.785,11.285 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>

	  <!-- Authentication - document icon -->
	  <svg
	    v-if="name === 'sign-in'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 40 44"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>document</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1870.000000, -591.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(154.000000, 300.000000)">
	            <path
	              class="color-background"
	              d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z"
	              opacity="0.603585379"
	            ></path>
	            <path
	              class="color-background"
	              d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>

	  <!-- Basic - spaceship icon -->
	  <svg
	    v-if="name === 'sign-up'"
	    width="12px"
	    height="20px"
	    viewBox="0 0 40 40"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>spaceship</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1720.000000, -592.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(4.000000, 301.000000)">
	            <path
	              class="color-background"
	              d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z"
	            ></path>
	            <path
	              class="color-background"
	              d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z"
	            ></path>
	            <path
	              class="color-background"
	              d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z"
	              opacity="0.598539807"
	            ></path>
	            <path
	              class="color-background"
	              d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z"
	              opacity="0.598539807"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>

	  <!-- Changelog - credit card icon -->
	  <svg
	    v-if="name === 'billing'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 43 36"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>credit-card</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-2169.000000, -745.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(453.000000, 454.000000)">
	            <path
	              class="color-background"
	              d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
	              opacity="0.593633743"
	            ></path>
	            <path
	              class="color-background"
	              d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>

	  <!-- Humidity -->
	  <svg
	    width="60"
	    viewBox="0 0 296 179"
	    fill="none"
	    xmlns="http://www.w3.org/2000/svg"
	    v-if="name === 'humidity'"
	  >
	    <g filter="url(#filter1_f)">
	      <path
	        d="M165.907 34.625C165.907 34.625 156.143 47.861 148.512 47.425C138.946 46.863 137.312 35.325 128.444 34.625C119.166 34.764 118.219 46.725 108.163 47.425C99.1529 47.264 95.3359 34.843 86.7469 34.625C78.1579 34.407 69.0029 47.425 69.0029 47.425"
	        stroke="#CED4DA"
	        stroke-width="16"
	        stroke-linecap="round"
	      />
	      <path
	        d="M154.919 102.625C154.919 102.625 140.219 115.861 128.726 115.425C114.326 114.863 111.855 103.325 98.508 102.625C84.538 102.764 83.108 114.725 67.969 115.425C54.403 115.262 48.655 102.842 35.719 102.625C22.783 102.408 9 115.425 9 115.425"
	        stroke="#CED4DA"
	        stroke-width="16"
	        stroke-linecap="round"
	      />
	      <path
	        d="M238.919 156.625C238.919 156.625 224.219 169.861 212.726 169.425C198.326 168.863 195.855 157.325 182.508 156.625C168.538 156.764 167.108 168.725 151.969 169.425C138.403 169.262 132.655 156.842 119.719 156.625C106.783 156.408 93 169.425 93 169.425"
	        stroke="#CED4DA"
	        stroke-width="16"
	        stroke-linecap="round"
	      />
	      <path
	        d="M264.076 1.00001C261.378 1.03054 234 43.7744 234 60.3879C234 68.3648 237.169 76.015 242.809 81.6555C248.45 87.296 256.1 90.4648 264.077 90.4648C272.054 90.4648 279.704 87.296 285.344 81.6555C290.985 76.015 294.154 68.3648 294.154 60.3879C294.154 43.7744 266.775 0.970878 264.076 1.00001Z"
	        fill="#CED4DA"
	      />
	      <path
	        d="M282.441 49.6635C279.436 50.5823 278.383 55.8514 280.089 61.4324C281.796 67.0134 285.615 70.7928 288.62 69.874C291.625 68.9553 292.678 63.6862 290.972 58.1052C289.266 52.5242 285.446 48.7448 282.441 49.6635Z"
	        fill="white"
	      />
	      <path
	        d="M207.411 61C205.49 61.0222 186 91.4522 186 103.278C186 108.956 188.256 114.402 192.271 118.418C196.287 122.433 201.733 124.689 207.411 124.689C213.09 124.689 218.536 122.433 222.552 118.418C226.567 114.402 228.823 108.956 228.823 103.278C228.823 91.4522 209.332 60.9792 207.411 61Z"
	        fill="#CED4DA"
	      />
	      <path
	        d="M219.337 96.8934C217.197 97.5476 216.447 101.299 217.662 105.272C218.877 109.245 221.596 111.936 223.736 111.282C225.876 110.627 226.626 106.876 225.411 102.903C224.196 98.9298 221.477 96.2392 219.337 96.8934Z"
	        fill="white"
	      />
	    </g>
	    <defs>
	      <filter
	        id="filter1_f"
	        x="0"
	        y="0"
	        width="295.154"
	        height="178.435"
	        filterUnits="userSpaceOnUse"
	        color-interpolation-filters="sRGB"
	      >
	        <feFlood flood-opacity="0" result="BackgroundImageFix" />
	        <feBlend
	          mode="normal"
	          in="SourceGraphic"
	          in2="BackgroundImageFix"
	          result="shape"
	        />
	        <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur" />
	      </filter>
	    </defs>
	  </svg>

	  <!-- temperature -->
	  <svg
	    width="40"
	    viewBox="0 0 217 342"
	    fill="none"
	    xmlns="http://www.w3.org/2000/svg"
	    v-if="name === 'temperature'"
	  >
	    <g filter="url(#filter3_f)">
	      <path
	        d="M67 178.583C93.5097 178.583 115 157.092 115 130.583C115 104.073 93.5097 82.5825 67 82.5825C40.4903 82.5825 19 104.073 19 130.583C19 157.092 40.4903 178.583 67 178.583Z"
	        fill="white"
	      />
	      <path
	        d="M67 188.583C99.0325 188.583 125 162.615 125 130.583C125 98.55 99.0325 72.5825 67 72.5825C34.9675 72.5825 9 98.55 9 130.583C9 162.615 34.9675 188.583 67 188.583Z"
	        stroke="white"
	        stroke-width="10"
	        stroke-linecap="round"
	        stroke-dasharray="1 66"
	      />
	      <g filter="url(#filter3_f)">
	        <path
	          d="M61.6224 120.764C78.6362 111.727 88.2605 96.5543 83.1189 86.8741C77.9773 77.1939 60.0169 76.6723 43.0031 85.7091C25.9894 94.7458 16.3651 109.919 21.5067 119.599C26.6482 129.279 44.6087 129.801 61.6224 120.764Z"
	          fill="white"
	        />
	      </g>
	    </g>
	    <g filter="url(#filter2_d)">
	      <path
	        d="M83.768 199.054L83.768 63.0005C83.768 53.7179 87.4555 44.8155 94.0192 38.2518C100.583 31.688 109.485 28.0005 118.768 28.0005C128.051 28.0005 136.953 31.688 143.517 38.2518C150.08 44.8155 153.768 53.7179 153.768 63.0005L153.768 201.97C162.845 209.089 169.677 218.673 173.448 229.574C177.219 240.475 177.768 252.232 175.03 263.438C172.291 274.643 166.382 284.822 158.008 292.755C149.634 300.689 139.152 306.041 127.815 308.17C123.7 309.262 119.422 309.601 115.187 309.17C102.415 308.838 90.0831 304.437 79.9858 296.609C69.8886 288.781 62.5533 277.935 59.0477 265.649C55.5422 253.364 56.0495 240.28 60.4957 228.302C64.9419 216.325 73.095 206.079 83.768 199.056V199.054Z"
	        fill="url(#paint0_linear)"
	      />
	      <path
	        d="M57.7443 249.189C57.7443 257.029 59.257 264.644 62.2406 271.821C65.1226 278.754 69.2556 285.005 74.5247 290.402C77.1201 293.061 79.9789 295.485 83.0218 297.609C86.0911 299.75 89.3762 301.605 92.7861 303.122C99.8678 306.273 107.414 307.971 115.213 308.169L115.251 308.17L115.289 308.174C116.437 308.291 117.607 308.35 118.769 308.35C121.749 308.35 124.707 307.964 127.558 307.203L127.595 307.193L127.632 307.186C134.372 305.929 140.788 303.521 146.701 300.029C152.492 296.61 157.625 292.258 161.958 287.096C166.323 281.896 169.728 276.046 172.078 269.71C174.511 263.153 175.745 256.248 175.745 249.189C175.745 244.564 175.208 239.958 174.149 235.501C173.12 231.169 171.592 226.949 169.607 222.957C167.658 219.036 165.262 215.323 162.485 211.919C159.725 208.536 156.585 205.453 153.151 202.757L152.769 202.457V201.97L152.769 63.0001C152.769 58.4096 151.87 53.957 150.097 49.766C148.385 45.7174 145.933 42.0811 142.81 38.9583C139.688 35.8355 136.051 33.3839 132.003 31.6715C127.812 29.8988 123.359 29 118.769 29C114.178 29 109.726 29.8988 105.535 31.6715C101.486 33.3839 97.8497 35.8355 94.7269 38.9583C91.6041 42.0811 89.1524 45.7174 87.44 49.766C85.6674 53.957 84.7686 58.4096 84.7686 63.0001L84.7686 199.055V199.593L84.3189 199.89C76.3153 205.164 69.6443 212.384 65.0268 220.769C62.6796 225.031 60.8688 229.575 59.6449 234.275C58.3838 239.117 57.7443 244.135 57.7443 249.189ZM56.7443 249.189C56.7443 228.231 67.4872 209.785 83.7686 199.055L83.7686 63.0001C83.7686 43.6699 99.4385 28 118.769 28C138.099 28 153.769 43.6699 153.769 63.0001L153.769 201.97C167.757 212.955 176.745 230.023 176.745 249.189C176.745 278.544 155.665 302.975 127.816 308.169C124.93 308.94 121.898 309.35 118.769 309.35C117.559 309.35 116.366 309.289 115.188 309.169C82.7694 308.344 56.7443 281.806 56.7443 249.189Z"
	        fill="white"
	        fill-opacity="0.5"
	      />
	    </g>
	    <path
	      d="M72.6179 250.554C72.616 242.091 74.9489 233.792 79.3597 226.569C83.7705 219.347 90.0883 213.481 97.6179 209.617V85.5544H139.618V209.616C146.888 213.347 153.032 218.946 157.421 225.838C161.809 232.73 164.282 240.667 164.586 248.832C164.89 256.998 163.014 265.096 159.15 272.296C155.286 279.495 149.574 285.536 142.602 289.796C135.63 294.056 127.648 296.382 119.479 296.535C111.31 296.688 103.247 294.662 96.1202 290.666C88.9933 286.67 83.0595 280.848 78.9288 273.798C74.7982 266.748 72.6199 258.725 72.6179 250.554Z"
	      fill="white"
	    />
	    <defs>
	      <filter
	        id="filter30_f"
	        x="2"
	        y="65.5825"
	        width="130"
	        height="130"
	        filterUnits="userSpaceOnUse"
	        color-interpolation-filters="sRGB"
	      >
	        <feFlood flood-opacity="0" result="BackgroundImageFix" />
	        <feBlend
	          mode="normal"
	          in="SourceGraphic"
	          in2="BackgroundImageFix"
	          result="shape"
	        />
	        <feGaussianBlur stdDeviation="1" result="effect1_foregroundBlur" />
	      </filter>
	      <filter
	        id="filter30_f"
	        x="0.122314"
	        y="59.2585"
	        width="104.381"
	        height="87.9562"
	        filterUnits="userSpaceOnUse"
	        color-interpolation-filters="sRGB"
	      >
	        <feFlood flood-opacity="0" result="BackgroundImageFix" />
	        <feBlend
	          mode="normal"
	          in="SourceGraphic"
	          in2="BackgroundImageFix"
	          result="shape"
	        />
	        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur" />
	      </filter>
	      <filter
	        id="filter2_d"
	        x="36.7441"
	        y="0"
	        width="180.001"
	        height="341.351"
	        filterUnits="userSpaceOnUse"
	        color-interpolation-filters="sRGB"
	      >
	        <feFlood flood-opacity="0" result="BackgroundImageFix" />
	        <feColorMatrix
	          in="SourceAlpha"
	          type="matrix"
	          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
	        />
	        <feOffset dx="10" dy="2" />
	        <feGaussianBlur stdDeviation="15" />
	        <feColorMatrix
	          type="matrix"
	          values="0 0 0 0 0.501961 0 0 0 0 0.501961 0 0 0 0 0.501961 0 0 0 0.302 0"
	        />
	        <feBlend
	          mode="normal"
	          in2="BackgroundImageFix"
	          result="effect1_dropShadow"
	        />
	        <feBlend
	          mode="normal"
	          in="SourceGraphic"
	          in2="effect1_dropShadow"
	          result="shape"
	        />
	      </filter>
	      <linearGradient
	        id="paint0_linear"
	        x1="161.625"
	        y1="141.948"
	        x2="43.5768"
	        y2="169.912"
	        gradientUnits="userSpaceOnUse"
	      >
	        <stop offset="1" stop-color="white" stop-opacity="0.596" />
	        <stop offset="1" stop-color="#F7F7F7" stop-opacity="0.204" />
	      </linearGradient>
	    </defs>
	  </svg>

	  <!-- air -->
	  <svg
	    width="70"
	    viewBox="0 0 306 180"
	    fill="none"
	    xmlns="http://www.w3.org/2000/svg"
	    v-if="name === 'air'"
	  >
	    <g filter="url(#filter0_f)">
	      <path
	        d="M165.907 35.625C165.907 35.625 156.143 48.861 148.512 48.425C138.946 47.863 137.312 36.325 128.444 35.625C119.166 35.764 118.219 47.725 108.163 48.425C99.1529 48.264 95.3359 35.843 86.7469 35.625C78.1579 35.407 69.0029 48.425 69.0029 48.425"
	        stroke="#CED4DA"
	        stroke-width="16"
	        stroke-linecap="round"
	      />
	      <path
	        d="M154.919 103.625C154.919 103.625 140.219 116.861 128.726 116.425C114.326 115.863 111.855 104.325 98.508 103.625C84.538 103.764 83.108 115.725 67.969 116.425C54.403 116.262 48.655 103.842 35.719 103.625C22.783 103.408 9 116.425 9 116.425"
	        stroke="#CED4DA"
	        stroke-width="16"
	        stroke-linecap="round"
	      />
	      <path
	        d="M238.919 157.625C238.919 157.625 224.219 170.861 212.726 170.425C198.326 169.863 195.855 158.325 182.508 157.625C168.538 157.764 167.108 169.725 151.969 170.425C138.403 170.262 132.655 157.842 119.719 157.625C106.783 157.408 93 170.425 93 170.425"
	        stroke="#CED4DA"
	        stroke-width="16"
	        stroke-linecap="round"
	      />
	      <path
	        d="M220.25 19.4441L257.266 111.061"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M229.482 41.7656L207.122 31.8528"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M229.482 41.7655L239.189 18.897"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M249.223 90.6272L240.025 113.29"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M249.223 90.6271L272.091 100.334"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M190.205 58.6675L288.055 72.4195"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M214.151 61.834L194.387 76.2415"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M214.151 61.834L199.2 41.9931"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M266.338 69.1682L281.365 88.4654"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M266.338 69.1682L286.179 54.217"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M209.151 104.299L269.986 26.4342"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M223.866 85.1443L226.461 109.465"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M223.866 85.1442L199.208 88.1718"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M256.311 43.6169L280.536 40.2513"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <path
	        d="M256.311 43.6168L253.283 18.9585"
	        stroke="#CED4DA"
	        stroke-width="10"
	        stroke-linecap="round"
	      />
	      <circle cx="239.321" cy="66.5" r="8.5" fill="white" />
	    </g>
	    <defs>
	      <filter
	        id="filter0_f"
	        x="0"
	        y="10.9402"
	        width="294.703"
	        height="168.495"
	        filterUnits="userSpaceOnUse"
	        color-interpolation-filters="sRGB"
	      >
	        <feFlood flood-opacity="0" result="BackgroundImageFix" />
	        <feBlend
	          mode="normal"
	          in="SourceGraphic"
	          in2="BackgroundImageFix"
	          result="shape"
	        />
	        <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur" />
	      </filter>
	    </defs>
	  </svg>
	  <!-- lights -->

	  <svg
	    width="72"
	    viewBox="0 0 301 157"
	    fill="none"
	    xmlns="http://www.w3.org/2000/svg"
	    v-if="name === 'lights'"
	  >
	    <g filter="url(#filter0_f)">
	      <mask
	        mask-type="alpha"
	        maskUnits="userSpaceOnUse"
	        x="0"
	        y="0"
	        width="301"
	        height="156"
	      >
	        <rect width="301" height="156" fill="#C4C4C4" />
	      </mask>
	      <g mask="url(#mask0)">
	        <path
	          d="M150 250.825C209.094 250.825 257 202.92 257 143.825C257 84.7307 209.094 36.8252 150 36.8252C90.9055 36.8252 43 84.7307 43 143.825C43 202.92 90.9055 250.825 150 250.825Z"
	          fill="#CED4DA"
	        />
	        <path
	          d="M150 277.825C224.006 277.825 284 217.831 284 143.825C284 69.819 224.006 9.8252 150 9.8252C75.9938 9.8252 16 69.819 16 143.825C16 217.831 75.9938 277.825 150 277.825Z"
	          stroke="#CED4DA"
	          stroke-width="10"
	          stroke-linecap="round"
	          stroke-dasharray="1 66"
	        />
	        <g filter="url(#filter1_f)">
	          <path
	            d="M135.743 126.588C166.447 110.28 183.244 81.824 173.262 63.0298C163.28 44.2355 130.297 42.22 99.5936 58.528C68.8901 74.8359 52.0924 103.292 62.0748 122.086C72.0573 140.88 105.04 142.896 135.743 126.588Z"
	            fill="white"
	          />
	        </g>
	        <path d="M182 143.435H122V156.435H182V143.435Z" fill="white" />
	        <path
	          d="M6.5 151.935H124.063L151.927 133.325L180.5 151.935H294.5"
	          stroke="#CED4DA"
	          stroke-width="10"
	          stroke-linecap="round"
	        />
	      </g>
	    </g>
	    <defs>
	      <filter
	        id="filter0_f"
	        x="0.5"
	        y="3.8252"
	        width="300"
	        height="153.175"
	        filterUnits="userSpaceOnUse"
	        color-interpolation-filters="sRGB"
	      >
	        <feFlood flood-opacity="0" result="BackgroundImageFix" />
	        <feBlend
	          mode="normal"
	          in="SourceGraphic"
	          in2="BackgroundImageFix"
	          result="shape"
	        />
	        <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur" />
	      </filter>
	      <filter
	        id="filter1_f"
	        x="24"
	        y="9"
	        width="187.337"
	        height="167.116"
	        filterUnits="userSpaceOnUse"
	        color-interpolation-filters="sRGB"
	      >
	        <feFlood flood-opacity="0" result="BackgroundImageFix" />
	        <feBlend
	          mode="normal"
	          in="SourceGraphic"
	          in2="BackgroundImageFix"
	          result="shape"
	        />
	        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur" />
	      </filter>
	    </defs>
	  </svg>

	  <!-- wifi -->
	  <svg
	    width="45px"
	    viewBox="0 0 41 31"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	    v-if="name === 'wifi'"
	  >
	    <title>wifi</title>
	    <g
	      id="Page-1"
	      stroke="none"
	      stroke-width="1"
	      fill="none"
	      fill-rule="evenodd"
	    >
	      <g id="wifi" transform="translate(3.000000, 3.000000)">
	        <path
	          d="M7.37102658,14.6156105 C12.9664408,9.02476091 22.0335592,9.02476091 27.6289734,14.6156105"
	          stroke="#FFFFFF"
	          stroke-width="5"
	          stroke-linecap="round"
	          stroke-linejoin="round"
	        ></path>
	        <circle
	          id="Oval"
	          fill="currentColor"
	          cx="17.5039082"
	          cy="22.7484921"
	          r="4.9082855"
	        ></circle>
	        <path
	          d="M0,7.24718945 C9.66583791,-2.41572982 25.3341621,-2.41572982 35,7.24718945"
	          stroke="#FFFFFF"
	          stroke-width="5"
	          opacity="0.398982558"
	          stroke-linecap="round"
	          stroke-linejoin="round"
	        ></path>
	      </g>
	    </g>
	  </svg>

	  <!-- pagelayout Icons -->
	  <!-- spaceship -->
	  <svg
	    v-bind="$attrs"
	    v-if="name === 'spaceship'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 40 40"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>spaceship</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1720.000000, -592.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(4.000000, 301.000000)">
	            <path
	              class="color-background"
	              d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z"
	            ></path>
	            <path
	              class="color-background"
	              d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z"
	            ></path>
	            <path
	              class="color-background"
	              d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z"
	              opacity="0.598539807"
	            ></path>
	            <path
	              class="color-background"
	              d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z"
	              opacity="0.598539807"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <!-- box3d -->
	  <svg
	    v-if="name === 'box3d'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 42 42"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>box-3d-50</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-2319.000000, -291.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(603.000000, 0.000000)">
	            <path
	              d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z"
	            ></path>
	            <path
	              d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z"
	              opacity="0.7"
	            ></path>
	            <path
	              d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z"
	              opacity="0.7"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <!-- customer support -->
	  <svg
	    v-if="name === 'customer-support'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 46 42"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>customer-support</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1717.000000, -291.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(1.000000, 0.000000)">
	            <path
	              class="color-background"
	              d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z"
	              opacity="0.59858631"
	            ></path>
	            <path
	              class="color-foreground"
	              d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"
	            ></path>
	            <path
	              class="color-foreground"
	              d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <!-- document -->
	  <svg
	    v-if="name === 'document'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 40 44"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>document</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1870.000000, -591.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(154.000000, 300.000000)">
	            <path
	              d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z"
	              opacity="0.603585379"
	            ></path>
	            <path
	              d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
  	</svg>
	  <!-- switches -->
	  <svg
	    v-if="name === 'switches'"
	    class="text-secondary"
	    width="16px"
	    height="16px"
	    viewBox="0 0 40 44"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>switches</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1870.000000, -440.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(154.000000, 149.000000)">
	            <path
	              class="color-background"
	              d="M10,20 L30,20 C35.4545455,20 40,15.4545455 40,10 C40,4.54545455 35.4545455,0 30,0 L10,0 C4.54545455,0 0,4.54545455 0,10 C0,15.4545455 4.54545455,20 10,20 Z M10,3.63636364 C13.4545455,3.63636364 16.3636364,6.54545455 16.3636364,10 C16.3636364,13.4545455 13.4545455,16.3636364 10,16.3636364 C6.54545455,16.3636364 3.63636364,13.4545455 3.63636364,10 C3.63636364,6.54545455 6.54545455,3.63636364 10,3.63636364 Z"
	              opacity="0.6"
	            ></path>
	            <path
	              class="color-background"
	              d="M30,23.6363636 L10,23.6363636 C4.54545455,23.6363636 0,28.1818182 0,33.6363636 C0,39.0909091 4.54545455,43.6363636 10,43.6363636 L30,43.6363636 C35.4545455,43.6363636 40,39.0909091 40,33.6363636 C40,28.1818182 35.4545455,23.6363636 30,23.6363636 Z M30,40 C26.5454545,40 23.6363636,37.0909091 23.6363636,33.6363636 C23.6363636,30.1818182 26.5454545,27.2727273 30,27.2727273 C33.4545455,27.2727273 36.3636364,30.1818182 36.3636364,33.6363636 C36.3636364,37.0909091 33.4545455,40 30,40 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <!-- settings -->
	  <svg
	    v-if="name === 'settings'"
	    class="text-secondary"
	    width="16px"
	    height="16px"
	    viewBox="0 0 40 40"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>settings</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-2020.000000, -442.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(304.000000, 151.000000)">
	            <polygon
	              class="color-background"
	              opacity="0.596981957"
	              points="18.0883333 15.7316667 11.1783333 8.82166667 13.3333333 6.66666667 6.66666667 0 0 6.66666667 6.66666667 13.3333333 8.82166667 11.1783333 15.315 17.6716667"
	            ></polygon>
	            <path
	              class="color-background"
	              d="M31.5666667,23.2333333 C31.0516667,23.2933333 30.53,23.3333333 30,23.3333333 C29.4916667,23.3333333 28.9866667,23.3033333 28.48,23.245 L22.4116667,30.7433333 L29.9416667,38.2733333 C32.2433333,40.575 35.9733333,40.575 38.275,38.2733333 L38.275,38.2733333 C40.5766667,35.9716667 40.5766667,32.2416667 38.275,29.94 L31.5666667,23.2333333 Z"
	              opacity="0.596981957"
	            ></path>
	            <path
	              class="color-background"
	              d="M33.785,11.285 L28.715,6.215 L34.0616667,0.868333333 C32.82,0.315 31.4483333,0 30,0 C24.4766667,0 20,4.47666667 20,10 C20,10.99 20.1483333,11.9433333 20.4166667,12.8466667 L2.435,27.3966667 C0.95,28.7083333 0.0633333333,30.595 0.00333333333,32.5733333 C-0.0583333333,34.5533333 0.71,36.4916667 2.11,37.89 C3.47,39.2516667 5.27833333,40 7.20166667,40 C9.26666667,40 11.2366667,39.1133333 12.6033333,37.565 L27.1533333,19.5833333 C28.0566667,19.8516667 29.01,20 30,20 C35.5233333,20 40,15.5233333 40,10 C40,8.55166667 39.685,7.18 39.1316667,5.93666667 L33.785,11.285 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <!-- office -->
	  <svg
	    v-if="name === 'office'"
	    width="12px"
	    height="12px"
	    viewBox="0 0 42 42"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>office</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1869.000000, -293.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(153.000000, 2.000000)">
	            <path
	              d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z"
	              opacity="0.6"
	            ></path>
	            <path
	              d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <!-- getting started -->
	  <svg
	    v-if="name === 'getting-started'"
	    class="text-secondary"
	    width="16px"
	    height="16px"
	    viewBox="0 0 40 40"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>spaceship</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1720.000000, -592.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(4.000000, 301.000000)">
	            <path
	              class="color-background"
	              d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z"
	            ></path>
	            <path
	              class="color-background"
	              d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z"
	            ></path>
	            <path
	              class="color-background"
	              d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z"
	              opacity="0.598539807"
	            ></path>
	            <path
	              class="color-background"
	              d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z"
	              opacity="0.598539807"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	  <!-- foundation - document -->
	  <svg
	    v-if="name === 'foundation'"
	    class="text-secondary"
	    width="16px"
	    height="16px"
	    viewBox="0 0 40 44"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>document</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-1870.000000, -591.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(154.000000, 300.000000)">
	            <path
	              class="color-background"
	              d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z"
	              opacity="0.603585379"
	            ></path>
	            <path
	              class="color-background"
	              d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>

	  <!-- components -box3d -->
	  <svg
	    v-if="name === 'components'"
	    class="text-secondary"
	    width="16px"
	    height="16px"
	    viewBox="0 0 42 42"
	    version="1.1"
	    xmlns="http://www.w3.org/2000/svg"
	    xmlns:xlink="http://www.w3.org/1999/xlink"
	  >
	    <title>box-3d-50</title>
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	      <g
	        transform="translate(-2319.000000, -291.000000)"
	        fill="currentColor"
	        fill-rule="nonzero"
	      >
	        <g transform="translate(1716.000000, 291.000000)">
	          <g transform="translate(603.000000, 0.000000)">
	            <path
	              class="color-background"
	              d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z"
	            ></path>
	            <path
	              class="color-background"
	              d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z"
	              opacity="0.7"
	            ></path>
	            <path
	              class="color-background"
	              d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z"
	              opacity="0.7"
	            ></path>
	          </g>
	        </g>
	      </g>
	    </g>
	  </svg>
	</div>
</template>
<script>
export default {
  name: "Icon",
  props: {
    name: {
      type: String,
      required: true,
    },
    icon_color: {
      type: String,
      default: "#FFFFFF",
    },
    icon_class: {
      type: String,
    },
  },
};
</script>
