<template>
  <div style="width: 100%;">
    <v-bottom-navigation
    	class="transparent"
      v-model="value"
      :color="color"
      grow
      v-if="getUsuarioLMS.idniveles == 6 "
    >
      <v-btn :to="{ name: 'GruposAlumnos' }" icon v-if="getDatosUsuarioLMS">
        <span>Home</span>

        <v-icon>mdi-home</v-icon>
      </v-btn>

      <v-btn :to="{ name: 'Perfil' }" icon v-if="getDatosUsuarioLMS">
        <span>Perfil</span>

        <v-icon>mdi-account</v-icon>
      </v-btn>

      <v-btn @click="salir()" icon>
        <span>Salir</span>

        <v-icon>mdi-exit-to-app</v-icon>
      </v-btn>

    </v-bottom-navigation>

    <v-bottom-navigation
      class="transparent"
      v-model="value"
      :color="color"
      grow
      v-if="getUsuarioLMS.idniveles == 5 "
    >
      <v-btn :to="{ name: 'GruposTeacher' }" icon>
        <span>Grupos</span>

        <v-icon>mdi-home</v-icon>
      </v-btn>

      <v-btn :to="{ name: 'PerfilTeacher' }" icon>
        <span>Perfil</span>

        <v-icon>mdi-account</v-icon>
      </v-btn>

      <v-btn @click="salir()" icon>
        <span>Salir</span>

        <v-icon>mdi-exit-to-app</v-icon>
      </v-btn>

    </v-bottom-navigation>
  </div>
</template>
<script>
  // Librerías
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data: () => ({ 
      value: 1,
    }),

    methods:{
      ...mapActions( 'login', [ 'salirLogin' ]),
    	salir(){
        this.salirLogin()
    	}
    },

    computed: {
      ...mapGetters( 'login', [ 'getUsuarioLMS', 'getLogeadoLMS', 'getDatosUsuarioLMS' ]),
      
      color () {
        switch (this.value) {
          case 0: return 'primary'
          case 1: return '#157C72'
          case 2: return 'orange'
          case 3: return 'indigo'
          default: return 'blue-grey'
        }
      },
    },
  }
</script>