<template>
	<v-container class="pt-6">
	  <v-row>

	  	<!-- Información básica del grupo -->
	  	<v-col cols="12" sm="8" md="8" lg="6" class="pb-1 mt-15">
	  		<v-card class="elevation-0 shadowCard">
	  			<v-card-text class="mb-0">
	  				<v-row>
	  					<v-col cols="9">
	  						<div>
			            <h5 class="mb-0 font-weight-bold text-h6 textPrimary--text" >
			             	{{ getGrupo.grupo }}
			            </h5>

			            <p class="mb-0 font-weight-bold">
			              De {{ getGrupo.hora_inicio }} a {{ getGrupo.hora_final}}
			              <br/>
			              <span class="primary--text">{{ getGrupo.ciclo }}</span>
			            </p>
			          </div>
	  					</v-col>

	  					<v-col cols="2">
		            <v-avatar
			            size="60"
			            color="transparent"
			            rounded
			            class="avatares"
			          >
			            <ul class="feedback" style="text-align: center; align-content: center; align-items: center; justify-content: center; justify-items: center;">
                    <li class="happy active">
                      <div>
                        <svg class="eye left">
                          <use xlink:href="#eye"></use>
                        </svg>
                        <svg class="eye right">
                          <use xlink:href="#eye"></use>
                        </svg>
                      </div>
                    </li>
						      </ul>
			          </v-avatar>
	  					</v-col>
	  				</v-row>
	  			</v-card-text>
	  			<v-card-actions class="pt-0 pl-2 pb-0">
	  			  <p class="pl-2 font-weight-bold">
            	<v-chip v-if="getGrupo.lunes" small dark 
            		:class="`mr-1 ${ getGrupo.id_teacher == getUsuarioLMS.id ? 'primary' : 'grey' }`">
			          Lu
			        </v-chip>

			        <v-chip v-if="getGrupo.martes" small dark 
			        	:class="`mr-1 ${ getGrupo.id_teacher == getUsuarioLMS.id ? 'primary' : 'grey' }`">
			          Ma
			        </v-chip>

			        <v-chip v-if="getGrupo.miercoles" small dark 
			        	:class="`mr-1 ${ getGrupo.id_teacher == getUsuarioLMS.id ? 'primary' : 'grey' }`">
			          Mi
			        </v-chip>

			        <v-chip v-if="getGrupo.jueves" small dark 
			        	:class="`mr-1 ${ getGrupo.id_teacher_2 == getUsuarioLMS.id ? 'primary' : 'grey' }`">
			          Ju
			        </v-chip>

			        <v-chip v-if="getGrupo.viernes" small dark 
			        	:class="`mr-1 ${ getGrupo.id_teacher_2 == getUsuarioLMS.id ? 'primary' : 'grey' }`">
			          Vi
			        </v-chip>

			        <v-chip v-if="getGrupo.sabado" small dark 
			        	:class="`mr-1 primary`">
			          Sa
			        </v-chip>

			        <v-chip v-if="getGrupo.domingo" small dark 
			        	:class="`mr-1 primary`">
			          Do
			        </v-chip>

			        <v-chip v-if="getGrupo.clase_actual == 1" small dark 
			        	:class="`mr-1 red`">
			          CORRIENDO
			        </v-chip>
            </p>
	  			</v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <v-row>	

	  	<!-- Boton para ir a los recusos -->
	  	<v-col cols="12" sm="8" md="8" lg="8" class="pb-1">
	  		<v-card class="shadowCard">
	  			<v-card-text>
	  			  <v-radio-group
              row
              value="1"
            >
              <v-radio
                color="green"
                value="1"
                label="Asistencia"
              ></v-radio>
              <v-radio
                color="red"
                value="1"
                label="Falta"
              ></v-radio>
              <v-radio
                color="yellow darken-2"
                value="1"
                label="Retardo"
              ></v-radio>
            </v-radio-group>

            <v-row>
            	<v-col cols="12" md="6" lg="4">
		            <v-menu
					        ref="menu"
					        v-model="menu"
					        :close-on-content-click="false"
					        :return-value.sync="fecha"
					        transition="scale-transition"
					        offset-y
					        min-width="auto"
					      >
					        <template v-slot:activator="{ on, attrs }">
					          <v-text-field
					            v-model="fecha"
					            label="Fecha de asistencia"
					            append-icon="mdi-calendar"
					            readonly
					            v-bind="attrs"
					            v-on="on"
					            filled
					          ></v-text-field>
					        </template>
					        <v-date-picker
					          v-model="fecha"
					          no-title
					          scrollable
      							color="primary"
					        >
					          <!-- :allowed-dates="fechasHabiles"
					          :min="fechaMin"
      							:max="fechaMax" -->
					          <v-spacer></v-spacer>
					          <v-btn
					            text
					            color="primary"
					            @click="menu = false"
					          >
					            Cancel
					          </v-btn>
					          <v-btn
					            text
					            color="primary"
					            @click="$refs.menu.save(fecha),getAlumnos()"
					          >
					            Ok
					          </v-btn>
					        </v-date-picker>
					      </v-menu>

            	</v-col>
            </v-row>

	  			</v-card-text>
	  			<v-data-table
				    :headers="headers"
				    :items="listaalumnos"
				    :items-per-page="listaalumnos.length"
				    class="elevation-0"
				    hide-default-footer
				    :mobile-breakpoint="100"
				  >
				  	<!-- Avatar -->
				  	<template v-slot:item.alumno="{ item }">
				  		<div class="d-flex  my-2">
				  			<div v-if="!item.tipo == 1">
				  			  <v-avatar
				        	  size="45"
				        	  color="transparent"
				        	>
				            <avataaars
				            	v-if="item.idavatar != null"
					          	:accessoriesType="item.accessoriesType"
						        	:isCircle="true"
								      :clotheType="item.clotheType"
						        	:clotheColor="item.clotheColor"
								      :eyebrowType="item.eyebrowType"
								      :eyeType="item.eyeType"
								      :facialHairColor="item.facialHairColor"
						        	:facialHairType="item.facialHairType"
								      :graphicType="item.graphicType"
								      :mouthType="item.mouthType"
						        	:skinColor="item.skinColor"
						        	:topType="item.topType"
						        	:topColor="item.topColor"
								      :hairColor="item.hairColor"
								      :circleColor="'#6fb8e0'">
								    </avataaars>
							    	<avataaars v-else></avataaars>
				        	</v-avatar>
				        	<br/>
		              <span class="text-caption">{{ item.alumno }}</span>
		            </div>
		            <div v-else>
		            	Valor
		            </div>
		          </div>
				    </template>

				    <!-- Valor asistencia -->
				    <template v-slot:item.asistencia="{ item }">
				    	<div v-if="!item.tipo == 1">
				    		<v-radio-group
		              row
		              v-model="item.asistencia"
		            >
		              <v-radio
		                color="green"
		                :value="1"
		              ></v-radio>
		              <v-radio
		                color="red"
		                :value="2"
		              ></v-radio>
		              <v-radio
		                color="yellow darken-2"
		                :value="3"
		              ></v-radio>
		              <v-radio
		                color="orange"
		                :value="4"
		              ></v-radio>
		            </v-radio-group>
				    	</div>
				    	<div v-else>
				    		<v-radio-group
		              row
		              value="1"
		            >
					    		<v-radio
		                color="green"
		                value="1"
		              ></v-radio>
					    		<v-radio
		                color="red"
		                value="1"
		              ></v-radio>
					    		<v-radio
		                color="yellow darken-2"
		                value="1"
		              ></v-radio>
					    		<v-radio
		                color="orange"
		                value="1"
		              ></v-radio>
		            </v-radio-group>
				    	</div>
				    </template>

				    <template v-slot:item.fecha_pago="{ item }">
			        <v-chip color="success" small v-if="!item.fecha_pago" @click="editFechaPago( item )"> REPORTE </v-chip>
			        <span color="success" v-else >{{ item.fecha_pago }}</span>
			      </template>
				  </v-data-table>
				  <v-card-actions>
				    <v-btn class="btn-grad text-capitalize" rounded 
		  				large 
		  				dark 
		  				block 
		  				@click="enviarAsistencias()" 
		  				:disabled="disabled"
		  				:loading="loading"
		  			>
		  				<span >Guardar</span>
		  			</v-btn>
				  </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <v-dialog
      v-model="dialogFecha"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title class="text-h5">
          Reporte del día
        </v-card-title>
        <v-card-text>

        	<label class="mb-2 text-body-1 black--text">Estado de animo del alumno</label>
        	<div class="my-2">
        		<ul class="feedback">
					    <li :class="`angry ${ animo == 1 ? 'active' : '' }`" @click="animo = 1">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
					    <li :class="`sad ${ animo == 2 ? 'active' : '' }`" @click="animo = 2">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
					    <li :class="`ok ${ animo == 3 ? 'active' : '' }`" @click="animo = 3">
					      <div></div>
					    </li>
					    <li :class="`good ${ animo == 4 ? 'active' : '' }`" @click="animo = 4">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
							<li :class="`happy ${ animo == 5 ? 'active' : '' }`" @click="animo = 5">
							  <div>
							    <svg class="eye left">
							      <use xlink:href="#eye"></use>
							    </svg>
							    <svg class="eye right">
							      <use xlink:href="#eye"></use>
							    </svg>
							  </div>
							</li>
						</ul>
        
						<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
						  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
						    <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
						  </symbol>
						  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
						    <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
						  </symbol>
						</svg>
        	</div>

        	<v-divider class="mb-3"></v-divider>

        	<label class="mb-2 text-body-1 black--text">¿Realizó del baño?</label>
        	<div class="my-2 mt-2">
        		<ul class="feedback">
					    <li :class="`angry ${ banio == 1 ? 'active' : '' }`" @click="banio = 1">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
							<li :class="`happy ${ banio == 5 ? 'active' : '' }`" @click="banio = 5">
							  <div>
							    <svg class="eye left">
							      <use xlink:href="#eye"></use>
							    </svg>
							    <svg class="eye right">
							      <use xlink:href="#eye"></use>
							    </svg>
							  </div>
							</li>
						</ul>

						<v-text-field
							class="mt-2"
						  label="Detalles:"
						  filled
						  dense
						  hide-details
						  single-line
						  v-model="detallebanio"
						></v-text-field>
        	</div>

        	<v-divider class="mb-3"></v-divider>

        	<label class="mb-2 text-body-1 black--text">¿El alumno comió?</label>
        	<div class="my-2">
        		<ul class="feedback">
					    <li :class="`angry ${ comida == 1 ? 'active' : '' }`" @click="comida = 1">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
					    <li :class="`sad ${ comida == 2 ? 'active' : '' }`" @click="comida = 2">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
					    <li :class="`ok ${ comida == 3 ? 'active' : '' }`" @click="comida = 3">
					      <div></div>
					    </li>
					    <li :class="`good ${ comida == 4 ? 'active' : '' }`" @click="comida = 4">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
							<li :class="`happy ${ comida == 5 ? 'active' : '' }`" @click="comida = 5">
							  <div>
							    <svg class="eye left">
							      <use xlink:href="#eye"></use>
							    </svg>
							    <svg class="eye right">
							      <use xlink:href="#eye"></use>
							    </svg>
							  </div>
							</li>
						</ul>
        	</div>

        	<v-divider class="mb-3"></v-divider>

        	<label class="mb-2 text-body-1 black--text">¿Cómo trabjo el alumno?</label>
        	<div class="my-2">
        		<ul class="feedback">
					    <li :class="`angry ${ trabajo == 1 ? 'active' : '' }`" @click="trabajo = 1">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
					    <li :class="`sad ${ trabajo == 2 ? 'active' : '' }`" @click="trabajo = 2">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
					    <li :class="`ok ${ trabajo == 3 ? 'active' : '' }`" @click="trabajo = 3">
					      <div></div>
					    </li>
					    <li :class="`good ${ trabajo == 4 ? 'active' : '' }`" @click="trabajo = 4">
					      <div>
					        <svg class="eye left">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="eye right">
					          <use xlink:href="#eye"></use>
					        </svg>
					        <svg class="mouth">
					          <use xlink:href="#mouth"></use>
					        </svg>
					      </div>
					    </li>
							<li :class="`happy ${ trabajo == 5 ? 'active' : '' }`" @click="trabajo = 5">
							  <div>
							    <svg class="eye left">
							      <use xlink:href="#eye"></use>
							    </svg>
							    <svg class="eye right">
							      <use xlink:href="#eye"></use>
							    </svg>
							  </div>
							</li>
						</ul>
        	</div>

        	<v-divider class="mb-3"></v-divider>


        </v-card-text>
        <v-card-actions>
          <v-btn
            color="red"
            dark
            rounded
            small
            @click="dialogFecha = false, alumno = null "
          >
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            rounded
            small
            @click="saveReporte()"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


	  <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
	  <Loader    v-if="cargar"          :loader="loader"/>

	  <v-speed-dial
      top
      left
      fixed
    >
      <template v-slot:activator>
        <v-btn
          color="white"
          fab
          :to="{ name: 'GruposTeacher' }"
        >
          <v-icon color="primary">
            mdi-keyboard-backspace
          </v-icon>
        </v-btn>
      </template>
    </v-speed-dial>

	</v-container>
</template>
<script>
	// importar librerías
	import { mapGetters, mapActions } from 'vuex'

	// Componentes
  import Alerta        from '@/components/alertas/Alerta.vue'
  import Loader        from '@/components/alertas/Loader.vue'

  import Avataaars     from 'vuejs-avataaars'
  
  const  base64 = require('base-64');

	export default {
	  name: "dashboard-default",
	  data: () => ({
    	respuestaAlerta: false,

      loader: true,
      cargar: false,
			parametros:{
      	dialogError: false,
      	mensaje: '',
      	color: ''
     	},

     	listaalumnos: [],
      model: null,

      headers: [
        { text: 'Alumno'     , width:'30%' , value: 'alumno'    , class: 'secondaryText--text text-caption sizeFont' },
        { text: 'Asistencia' , width:'50%' , value: 'asistencia', class: 'secondaryText--text text-caption sizeFont' },
        { text: 'Actions'    , width:'20%' , value: 'fecha_pago', class: 'secondaryText--text text-caption sizeFont' },
      ],

      snack: false,
      snackColor: '',
      snackText: '',

      disabled:false,
			loading:false,
			fecha: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),

			alumno: null,
			dialogFecha: false,
			fecha_pago:null,
			menu: false,
			fechaMin:null,
			fechaMax:null,
			fechas:[],
			animo: 0,
			banio: 0,
			comida: 0,
			trabajo:0,
			detallebanio: '',
	  }),

	  components: {
	    Alerta,
	    Loader,
	    Avataaars
	  },

	  async created ( ){
	  	// await this.fechasGrupo( )
    	await this.getAlumnos( )
    },

	  computed:{
	  	...mapGetters( 'login', [ 'getGrupo', 'getUsuarioLMS' ])
	  },

	  methods:{
	  	...mapActions( 'login', [ 'abrirRecursosAlumno', 'abrirCalificaciones' ] ),

	  	fechasGrupo( ){
    		this.cargar = true
  			// Preparamos el id del teacher
    		const id_grupo = base64.encode( this.getGrupo.grupo.id )

    		const payload = {
    			id_grupo: base64.encode( this.getGrupo.grupo.id ),
    			id_nivel: this.getGrupo.grupo.id_nivel
    		}

  			// Hacemos la consulta
  			this.fechas = []
    		return this.$http.post('grupos.fechas.habiles', payload ).then( response=> {
    			this.fechaMin = response.body[0]
    			this.fechaMax = response.body[ response.body.length - 1]
    			this.fechas   = response.body
    			this.fecha    = this.fechaMax
    		}).catch( error =>{
    			this.disabled = true
    			this.validarError( error )
    		}).finally( () => { this.cargar = false })
	  	},

	  	fechasHabiles ( val ){
	  		return this.fechas.includes( val ) 
	  	},

	  	getAlumnos ( ){
	  		this.listaalumnos = []
    		this.cargar = true
  			// Preparamos el id del teacher

    		const payload = {
    			idgrupos: this.getGrupo.idgrupos,
    			fecha   : this.fecha,
    		}

  			// Hacemos la consulta
    		this.$http.post('grupos.asistencias', payload ).then( response=> {
    			this.listaalumnos = response.body
    			this.disabled = false
    			this.listaalumnos.unshift({alumno:'Valor', asistencia:'', tipo: 1}) // para poder poner los colores de la asistencia
    		}).catch( error =>{
    			this.disabled = true
    			this.validarError( error )
    		}).finally( () => { this.cargar = false })
    	},

    	validarError ( value ) {
        this.cargar = false 
        if( value.status == 400 || value.status == 500){
          this.parametros.mensaje      = value.body.message
          this.parametros.dialogError  = true 
          this.parametros.color        = '#FF2C2C'
          this.respuestaAlerta = true 
        }
      },

      saveReporte( ) {

      	// Validar si el alumno cuenta con una asistencia
      	if( !this.alumno.idasistencias ){
      		return this.validarErrorDirecto('Favor de tomar asistencia primero')
      	}

      	this.cargar = true
    		
    		const payload = {
    			id_asistencia: this.alumno.id_asistencia,
    			idalumnos:     this.alumno.idalumnos,
    			idgrupos:      this.alumno.idgrupos,
    			fecha:         this.fecha,
    			animo:         this.animo,
					banio:         this.banio,
					comida:        this.comida,
					trabajo:       this.trabajo,
					detallebanio:  this.detallebanio,
    		}
  			
  			// Hacemos la consulta
    		this.$http.post('grupos.asistencias.add.reporte', payload ).then( response=> {
    			this.dialogFecha = false
    			this.alumno      = null
    			this.fecha_pago  = null
    			this.cargar      = false 
    			this.animo        = 0 
					this.banio        = 0 
					this.comida       = 0 
					this.trabajo      = 0
					this.detallebanio = ''

          this.parametros.mensaje      = response.body.message
          this.parametros.dialogError  = true 
          this.parametros.color        = 'success'
          this.respuestaAlerta         = true 

    			this.getAlumnos()
    		}).catch( error =>{
    			this.validarError( error )
    		}).finally( () => { this.cargar = false })
      },

      enviarAsistencias( ){
    		this.cargar = true

    		const payload = {
    			idgrupos:    this.getGrupo.idgrupos,
    			fecha:       this.fecha,
    			asistencias: this.listaalumnos,
    		}

  			// Hacemos la consulta
    		this.$http.post('grupos.asistencias.add', payload ).then( response=> {
    			this.cargar = false 
          this.parametros.mensaje      = response.body.message
          this.parametros.dialogError  = true 
          this.parametros.color        = 'success'
          this.respuestaAlerta         = true 
    			this.getAlumnos()
    		}).catch( error =>{
    			this.validarError( error )
    		}).finally( () => { this.cargar = false })
      },

      editFechaPago( alumno ){
      	console.log( alumno )
      	this.animo        = alumno.animo 
				this.banio        = alumno.banio 
				this.comida       = alumno.comida 
				this.trabajo      = alumno.trabajo
				this.detallebanio = alumno.detallebanio
    		this.alumno       = alumno
      	this.dialogFecha = true
      },

	  }
	};
</script>

<style scoped>
	.avatares{
		background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
	}

	.shadowCard{
		border-radius: 15px !important; 
		box-shadow: 0 20px 27px 0 rgba(0,0,0,0.1)  !important;
	}

	.colorCurso{
		color: #006093;
	}

	.styleText{
    font-weight:  bolder !important;
  }

  .font{
  	font-family: 'Open Sans' !important;
  }

  .btn-grad {
		background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
	}

	.feedback {
  --normal: #eceaf3;
  --normal-shadow: #d9d8e3;
  --normal-mouth: #9795a4;
  --normal-eye: #595861;
  --active: #f8da69;
  --active-shadow: #f4b555;
  --active-mouth: #f05136;
  --active-eye: #313036;
  --active-tear: #76b5e7;
  --active-shadow-angry: #e94f1d;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.feedback li {
  position: relative;
  border-radius: 50%;
  background: var(--sb, var(--normal));
  box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow));
  transition: background 0.4s, box-shadow 0.4s, transform 0.3s;
  -webkit-tap-highlight-color: transparent;
}
.feedback li:not(:last-child) {
  margin-right: 20px;
}
.feedback li div {
  width: 40px;
  height: 40px;
  position: relative;
  transform: perspective(240px) translateZ(4px);
}
.feedback li div svg, .feedback li div:before, .feedback li div:after {
  display: block;
  position: absolute;
  left: var(--l, 9px);
  top: var(--t, 13px);
  width: var(--w, 8px);
  height: var(--h, 2px);
  transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
}
.feedback li div svg {
  fill: none;
  stroke: var(--s);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.4s;
}
.feedback li div svg.eye {
  --s: var(--e, var(--normal-eye));
  --t: 17px;
  --w: 7px;
  --h: 4px;
}
.feedback li div svg.eye.right {
  --l: 23px;
}
.feedback li div svg.mouth {
  --s: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 7px;
}
.feedback li div:before, .feedback li div:after {
  content: "";
  z-index: var(--zi, 1);
  border-radius: var(--br, 1px);
  background: var(--b, var(--e, var(--normal-eye)));
  transition: background 0.4s;
}
.feedback li.angry {
  --step-1-rx: -24deg;
  --step-1-ry: 20deg;
  --step-2-rx: -24deg;
  --step-2-ry: -20deg;
}
.feedback li.angry div:before {
  --r: 20deg;
}
.feedback li.angry div:after {
  --l: 23px;
  --r: -20deg;
}
.feedback li.angry div svg.eye {
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}
.feedback li.angry.active {
  -webkit-animation: angry 1s linear;
          animation: angry 1s linear;
}
.feedback li.angry.active div:before {
  --middle-y: -2px;
  --middle-r: 22deg;
  -webkit-animation: toggle 0.8s linear forwards;
          animation: toggle 0.8s linear forwards;
}
.feedback li.angry.active div:after {
  --middle-y: 1px;
  --middle-r: -18deg;
  -webkit-animation: toggle 0.8s linear forwards;
          animation: toggle 0.8s linear forwards;
}
.feedback li.sad {
  --step-1-rx: 20deg;
  --step-1-ry: -12deg;
  --step-2-rx: -18deg;
  --step-2-ry: 14deg;
}
.feedback li.sad div:before, .feedback li.sad div:after {
  --b: var(--active-tear);
  --sc: 0;
  --w: 5px;
  --h: 5px;
  --t: 15px;
  --br: 50%;
}
.feedback li.sad div:after {
  --l: 25px;
}
.feedback li.sad div svg.eye {
  --t: 16px;
}
.feedback li.sad div svg.mouth {
  --t: 24px;
  stroke-dasharray: 9.5;
  stroke-dashoffset: 33.25;
}
.feedback li.sad.active div:before, .feedback li.sad.active div:after {
  -webkit-animation: tear 0.6s linear forwards;
          animation: tear 0.6s linear forwards;
}
.feedback li.ok {
  --step-1-rx: 4deg;
  --step-1-ry: -22deg;
  --step-1-rz: 6deg;
  --step-2-rx: 4deg;
  --step-2-ry: 22deg;
  --step-2-rz: -6deg;
}
.feedback li.ok div:before {
  --l: 12px;
  --t: 17px;
  --h: 4px;
  --w: 4px;
  --br: 50%;
  box-shadow: 12px 0 0 var(--e, var(--normal-eye));
}
.feedback li.ok div:after {
  --l: 13px;
  --t: 26px;
  --w: 14px;
  --h: 2px;
  --br: 1px;
  --b: var(--m, var(--normal-mouth));
}
.feedback li.ok.active div:before {
  --middle-s-y: 0.35;
  -webkit-animation: toggle 0.2s linear forwards;
          animation: toggle 0.2s linear forwards;
}
.feedback li.ok.active div:after {
  --middle-s-x: 0.5;
  -webkit-animation: toggle 0.7s linear forwards;
          animation: toggle 0.7s linear forwards;
}
.feedback li.good {
  --step-1-rx: -14deg;
  --step-1-rz: 10deg;
  --step-2-rx: 10deg;
  --step-2-rz: -8deg;
}
.feedback li.good div:before {
  --b: var(--m, var(--normal-mouth));
  --w: 5px;
  --h: 5px;
  --br: 50%;
  --t: 22px;
  --zi: 0;
  opacity: 0.5;
  box-shadow: 16px 0 0 var(--b);
  filter: blur(2px);
}
.feedback li.good div:after {
  --sc: 0;
}
.feedback li.good div svg.eye {
  --t: 15px;
  --sc: -1;
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}
.feedback li.good div svg.mouth {
  --t: 22px;
  --sc: -1;
  stroke-dasharray: 13.3;
  stroke-dashoffset: 23.75;
}
.feedback li.good.active div svg.mouth {
  --middle-y: 1px;
  --middle-s: -1;
  -webkit-animation: toggle 0.8s linear forwards;
          animation: toggle 0.8s linear forwards;
}
.feedback li.happy div {
  --step-1-rx: 18deg;
  --step-1-ry: 24deg;
  --step-2-rx: 18deg;
  --step-2-ry: -24deg;
}
.feedback li.happy div:before {
  --sc: 0;
}
.feedback li.happy div:after {
  --b: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 8px;
  --br: 0 0 8px 8px;
}
.feedback li.happy div svg.eye {
  --t: 14px;
  --sc: -1;
}
.feedback li.happy.active div:after {
  --middle-s-x: 0.95;
  --middle-s-y: 0.75;
  -webkit-animation: toggle 0.8s linear forwards;
          animation: toggle 0.8s linear forwards;
}
.feedback li:not(.active) {
  cursor: pointer;
}
.feedback li:not(.active):active {
  transform: scale(0.925);
}
.feedback li.active {
  --sb: var(--active);
  --sh: var(--active-shadow);
  --m: var(--active-mouth);
  --e: var(--active-eye);
}
.feedback li.active div {
  -webkit-animation: shake 0.8s linear forwards;
          animation: shake 0.8s linear forwards;
}

@-webkit-keyframes shake {
  30% {
    transform: perspective(240px) rotateX(var(--step-1-rx, 0deg)) rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg)) translateZ(10px);
  }
  60% {
    transform: perspective(240px) rotateX(var(--step-2-rx, 0deg)) rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg)) translateZ(10px);
  }
  100% {
    transform: perspective(240px) translateZ(4px);
  }
}

@keyframes shake {
  30% {
    transform: perspective(240px) rotateX(var(--step-1-rx, 0deg)) rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg)) translateZ(10px);
  }
  60% {
    transform: perspective(240px) rotateX(var(--step-2-rx, 0deg)) rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg)) translateZ(10px);
  }
  100% {
    transform: perspective(240px) translateZ(4px);
  }
}
@-webkit-keyframes tear {
  0% {
    opacity: 0;
    transform: translateY(-2px) scale(0) translateZ(0);
  }
  50% {
    transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
  }
  20%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1) translateZ(0);
  }
}
@keyframes tear {
  0% {
    opacity: 0;
    transform: translateY(-2px) scale(0) translateZ(0);
  }
  50% {
    transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
  }
  20%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1) translateZ(0);
  }
}
@-webkit-keyframes toggle {
  50% {
    transform: translateY(var(--middle-y, 0)) scale(var(--middle-s-x, var(--middle-s, 1)), var(--middle-s-y, var(--middle-s, 1))) rotate(var(--middle-r, 0deg));
  }
}
@keyframes toggle {
  50% {
    transform: translateY(var(--middle-y, 0)) scale(var(--middle-s-x, var(--middle-s, 1)), var(--middle-s-y, var(--middle-s, 1))) rotate(var(--middle-r, 0deg));
  }
}
@-webkit-keyframes angry {
  40% {
    background: var(--active);
  }
  45% {
    box-shadow: inset 3px -3px 4px var(--active-shadow), inset 0 8px 10px var(--active-shadow-angry);
  }
}
@keyframes angry {
  40% {
    background: var(--active);
  }
  45% {
    box-shadow: inset 3px -3px 4px var(--active-shadow), inset 0 8px 10px var(--active-shadow-angry);
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "Roboto", Arial;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f9f9fc;
}
body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
body .dribbble img {
  display: block;
  height: 28px;
}
body .twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}
body .twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}

</style>
